serialize = true
static = ["kafstel.txt"]
use-workspace-deps = "../../Cargo.toml"

[package]
name = "custom_types_codegen"

[types.crates]
ctypes = { path = "../ctypes" }
postgres_range = { version = "0.11.1", features = ["with-chrono-0_4"] }
tokio-postgres = { version = "0.7.13", features = [
    "with-chrono-0_4",
    "with-serde_json-1",
] }

[types]
derive-traits = ["Hash"]

[types.type-traits-mapping]
sponge_bob_character = ["serde::Deserialize"]

[types.mapping]
"pg_catalog.date" = { rust-type = "ctypes::date::Date", attributes = [
    'allow(dead_code)',
] }
"pg_catalog.tstzrange" = "postgres_range::Range<chrono::DateTime<chrono::FixedOffset>>"
